# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/filesystem/.vs/filesystem/v14/.suo
/filesystem/filesystem/filesystem.vcxproj
/filesystem/filesystem/filesystem.vcxproj.filters
/filesystem/filesystem.sln
/filesystem/filesystem.VC.db
/filesystem/filesystem.VC.VC.opendb
/filesystem/filesystem/Debug/filesystem.tlog
/filesystem/filesystem/Debug
/filesystem/filesystem/x64/Debug/filesystem.tlog
/filesystem/filesystem/x64/Debug
/filesystem/x64/Debug
/filesystem/Debug
/filesystem/filesystem/Release/filesystem.tlog
/filesystem/filesystem/Release
/filesystem/Release
/surfaces/debug/moc_predefs.h
/surfaces/release/qmake
/surfaces/release
/surfaces/debug/qmake
/surfaces/debug
/surfaces/.gitignore
